<section class="hero">
  <div class="hero-left" style="position: relative; overflow: hidden;">
    <img 
      src="https://images.unsplash.com/photo-1501339847302-ac426a4a7cbb?q=80&w=600" 
      alt="Imagen de cafetería" 
      class="hero-image" 
    />
    
    <div class="hero-overlay-text">
      <h3>¡Bienvenidos!</h3>
      <p>El mejor café artesanal</p>
    </div>
  </div>
  <div class="hero-right">
    <h1>Nuestro Menu</h1>
    <p-button label="Ver Menu" routerLink="/menu" styleClass="btn-hero btn-rounded" />
  </div>
</section>

<section class="promo">
  <div class="promo-text">
    <h2>Unite</h2>
    <p>Registrate para hacer tus pedidos</p>
    <p-button label="Crear cuenta" [outlined]="true" routerLink="/auth/register" styleClass="btn-rounded btn-accent" />
  </div>

</section>
