<div class="login-wrapper">
  <div class="login-card">
    <p-card header="Crear cuenta">
      <p-toast position="top-center" />
      <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="field">
          <label for="nombre">Nombre</label>
          <input pInputText id="nombre" formControlName="nombre" placeholder="Juan" />
          @if (form.get('nombre')?.invalid && form.get('nombre')?.touched) {
            <small class="error-msg">El nombre es obligatorio</small>
          }
        </div>

        <div class="field">
          <label for="apellido">Apellido</label>
          <input pInputText id="apellido" formControlName="apellido" placeholder="Perez" />
          @if (form.get('apellido')?.invalid && form.get('apellido')?.touched) {
            <small class="error-msg">El apellido es obligatorio</small>
          }
        </div>

        <div class="field">
          <label for="email">Email</label>
          <input pInputText id="email" formControlName="email" type="email" placeholder="tu@email.com" />
          @if (form.get('email')?.invalid && form.get('email')?.touched) {
            <small class="error-msg">Ingresa un email valido</small>
          }
        </div>

        <div class="field">
          <label for="direccion">Direccion</label>
          <input pInputText id="direccion" formControlName="direccion" placeholder="Av. Siempreviva 123" />
          @if (form.get('direccion')?.invalid && form.get('direccion')?.touched) {
            <small class="error-msg">La direccion es obligatoria</small>
          }
        </div>

        <div class="field">
          <label for="password">Contrasena</label>
          <p-password id="password" formControlName="password" [feedback]="false" [toggleMask]="true"
            styleClass="w-full" inputStyleClass="w-full" />
          @if (form.get('password')?.invalid && form.get('password')?.touched) {
            <small class="error-msg">Minimo 8 caracteres, una mayuscula, un numero y un caracter especial</small>
          }
        </div>

        <div class="button-wrapper">
          <p-button type="submit" label="Registrarse" [loading]="loading" />
        </div>

        <div class="register-link">
          ¿Ya tenes cuenta? <a routerLink="/auth/login">Inicia sesion</a>
        </div>

      </form>
    </p-card>
  </div>
</div>
